@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?on5k31");
  src: url("icomoon.eot?on5k31#iefix") format("embedded-opentype"),
    url("icomoon.ttf?on5k31") format("truetype"),
    url("icomoon.woff?on5k31") format("woff"),
    url("icomoon.svg?on5k31#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
